<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bjjoy.bms.setting.persist.mapper.EquiptypeDao">

	<select id="queryOneMap" resultType="map" parameterType="java.lang.String">
		SELECT 
			equiptype.id AS id,
			equiptype.parent_id AS parentId,
			equiptype.name AS name,
			equiptype.add_per AS addPer,
			equiptype.add_time AS addTime,
			equiptype.type_layer AS typeLayer,
			equiptype.addressCode AS addressCode,
			equiptype.system_id AS systemId,
			equiptype.longitude AS longitude,
			equiptype.latitude AS latitude,
			equiptype.IP AS IP,
			equiptype.Zguanli_per AS ZguanliPer,
			equiptype.Zguanli_phone AS ZguanliPhone,
			equiptype.Cguanli_per AS CguanliPer,
			equiptype.Cguanli_phone AS CguanliPhone,
			equiptype.Jguanli_per AS JguanliPer,
			equiptype.Jguanli_phone AS JguanliPhone,
			equiptype.bengxing AS bengxing,
			equiptype.koujing AS koujing,
			equiptype.gonglv AS gonglv,
			equiptype.xinhao AS xinhao
		FROM 
			equiptype
		WHERE 
			equiptype.id = #{id}
	</select>
	
	<select id="queryMapList" resultType="map" parameterType="map">
		<![CDATA[
		SELECT 
			equiptype.id AS id,
			equiptype.parent_id AS parentId,
			equiptype.name AS name,
			equiptype.add_per AS addPer,
			equiptype.add_time AS addTime,
			equiptype.type_layer AS typeLayer,
			equiptype.addressCode AS addressCode,
			equiptype.system_id AS systemId,
			equiptype.longitude AS longitude,
			equiptype.latitude AS latitude,
			equiptype.IP AS IP,
			equiptype.Zguanli_per AS ZguanliPer,
			equiptype.Zguanli_phone AS ZguanliPhone,
			equiptype.Cguanli_per AS CguanliPer,
			equiptype.Cguanli_phone AS CguanliPhone,
			equiptype.Jguanli_per AS JguanliPer,
			equiptype.Jguanli_phone AS JguanliPhone,
			equiptype.bengxing AS bengxing,
			equiptype.koujing AS koujing,
			equiptype.gonglv AS gonglv,
			equiptype.xinhao AS xinhao
		FROM equiptype
		]]>
		<where>
			<include refid="sql_map_where" />
		</where>
		<include refid="sql_map_order" />
		<include refid="sql_map_page" />
	</select>

	<select id="queryMapListCount" parameterType="map" resultType="long">
		SELECT 
			COUNT(0) 
		FROM 
			equiptype
		<where>
			<include refid="sql_map_where" />
		</where>
	</select>

	<sql id="sql_map_where">
		<if test="search != null and search != ''">
			<![CDATA[
			AND (
					CAST(equiptype.id as CHAR) LIKE CONCAT('%',#{search},'%') OR
					CAST(equiptype.parent_id as CHAR) LIKE CONCAT('%',#{search},'%') OR
					equiptype.name LIKE CONCAT('%',#{search},'%') OR
					equiptype.add_per LIKE CONCAT('%',#{search},'%') OR
					equiptype.add_time LIKE CONCAT('%',#{search},'%') OR
					equiptype.type_layer LIKE CONCAT('%',#{search},'%') OR
					equiptype.addressCode LIKE CONCAT('%',#{search},'%') OR
					CAST(equiptype.system_id as CHAR) LIKE CONCAT('%',#{search},'%') OR
					equiptype.longitude LIKE CONCAT('%',#{search},'%') OR
					equiptype.latitude LIKE CONCAT('%',#{search},'%') OR
					equiptype.IP LIKE CONCAT('%',#{search},'%') OR
					equiptype.Zguanli_per LIKE CONCAT('%',#{search},'%') OR
					equiptype.Zguanli_phone LIKE CONCAT('%',#{search},'%') OR
					equiptype.Cguanli_per LIKE CONCAT('%',#{search},'%') OR
					equiptype.Cguanli_phone LIKE CONCAT('%',#{search},'%') OR
					equiptype.Jguanli_per LIKE CONCAT('%',#{search},'%') OR
					equiptype.Jguanli_phone LIKE CONCAT('%',#{search},'%') OR
					equiptype.bengxing LIKE CONCAT('%',#{search},'%') OR
					equiptype.koujing LIKE CONCAT('%',#{search},'%') OR
					equiptype.gonglv LIKE CONCAT('%',#{search},'%') OR
					equiptype.xinhao LIKE CONCAT('%',#{search},'%') 
			)
			]]>
		</if>
		<if test="id != null and id != ''">
		<![CDATA[AND equiptype.id = #{id}]]>
		</if>
		<if test="id == null or id == ''">
		<if test="idAst != null and idAst != ''">
			<![CDATA[AND equiptype.id >= #{idAst}]]>
		</if>
		<if test="idAed != null and idAed != ''">
			<![CDATA[AND equiptype.id <= #{idAed}]]>
		</if>
		<if test="ids != null">
			AND equiptype.id IN
			<foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="idAlk != null and idAlk != ''">
			<![CDATA[AND CAST(equiptype.id AS CHAR) LIKE CONCAT('%',#{idAlk},'%')]]>
		</if>
		</if>
		<if test="parentId != null and parentId != ''">
		<![CDATA[AND equiptype.parent_id = #{parentId}]]>
		</if>
		<if test="parentId == null or parentId == ''">
		<if test="parentIdAst != null and parentIdAst != ''">
			<![CDATA[AND equiptype.parent_id >= #{parentIdAst}]]>
		</if>
		<if test="parentIdAed != null and parentIdAed != ''">
			<![CDATA[AND equiptype.parent_id <= #{parentIdAed}]]>
		</if>
		<if test="parentIds != null">
			AND equiptype.parent_id IN
			<foreach collection="parentIds" index="index" item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="parentIdAlk != null and parentIdAlk != ''">
			<![CDATA[AND CAST(equiptype.parent_id AS CHAR) LIKE CONCAT('%',#{parentIdAlk},'%')]]>
		</if>
		</if>
		<if test="name != null and name != ''">
			<![CDATA[AND equiptype.name = #{name}]]>
		</if>
		<if test="name == null or name == ''">
			<if test="nameAlk != null and nameAlk != ''">
				<![CDATA[AND equiptype.name LIKE CONCAT('%',#{nameAlk},'%')]]>
			</if>
			<if test="names != null">
				AND equiptype.name IN 
				<foreach collection="names" index="index" item="item" open="(" separator="," close=")">   
					#{item}
				</foreach>
			</if>
		</if>
		<if test="addPer != null and addPer != ''">
			<![CDATA[AND equiptype.add_per = #{addPer}]]>
		</if>
		<if test="addPer == null or addPer == ''">
			<if test="addPerAlk != null and addPerAlk != ''">
				<![CDATA[AND equiptype.add_per LIKE CONCAT('%',#{addPerAlk},'%')]]>
			</if>
			<if test="addPers != null">
				AND equiptype.add_per IN 
				<foreach collection="addPers" index="index" item="item" open="(" separator="," close=")">   
					#{item}
				</foreach>
			</if>
		</if>
		<if test="addTime != null and addTime != ''">
			<![CDATA[AND equiptype.add_time = #{addTime}]]>
		</if>
		<if test="addTime == null or addTime == ''">
			<if test="addTimeAlk != null and addTimeAlk != ''">
				<![CDATA[AND equiptype.add_time LIKE CONCAT('%',#{addTimeAlk},'%')]]>
			</if>
			<if test="addTimes != null">
				AND equiptype.add_time IN 
				<foreach collection="addTimes" index="index" item="item" open="(" separator="," close=")">   
					#{item}
				</foreach>
			</if>
		</if>
		<if test="typeLayer != null and typeLayer != ''">
			<![CDATA[AND equiptype.type_layer = #{typeLayer}]]>
		</if>
		<if test="typeLayer == null or typeLayer == ''">
			<if test="typeLayerAlk != null and typeLayerAlk != ''">
				<![CDATA[AND equiptype.type_layer LIKE CONCAT('%',#{typeLayerAlk},'%')]]>
			</if>
			<if test="typeLayers != null">
				AND equiptype.type_layer IN 
				<foreach collection="typeLayers" index="index" item="item" open="(" separator="," close=")">   
					#{item}
				</foreach>
			</if>
		</if>
		<if test="addressCode != null and addressCode != ''">
			<![CDATA[AND equiptype.addressCode = #{addressCode}]]>
		</if>
		<if test="addressCode == null or addressCode == ''">
			<if test="addressCodeAlk != null and addressCodeAlk != ''">
				<![CDATA[AND equiptype.addressCode LIKE CONCAT('%',#{addressCodeAlk},'%')]]>
			</if>
			<if test="addressCodes != null">
				AND equiptype.addressCode IN 
				<foreach collection="addressCodes" index="index" item="item" open="(" separator="," close=")">   
					#{item}
				</foreach>
			</if>
		</if>
		<if test="systemId != null and systemId != ''">
		<![CDATA[AND equiptype.system_id = #{systemId}]]>
		</if>
		<if test="systemId == null or systemId == ''">
		<if test="systemIdAst != null and systemIdAst != ''">
			<![CDATA[AND equiptype.system_id >= #{systemIdAst}]]>
		</if>
		<if test="systemIdAed != null and systemIdAed != ''">
			<![CDATA[AND equiptype.system_id <= #{systemIdAed}]]>
		</if>
		<if test="systemIds != null">
			AND equiptype.system_id IN
			<foreach collection="systemIds" index="index" item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="systemIdAlk != null and systemIdAlk != ''">
			<![CDATA[AND CAST(equiptype.system_id AS CHAR) LIKE CONCAT('%',#{systemIdAlk},'%')]]>
		</if>
		</if>
		<if test="longitude != null and longitude != ''">
			<![CDATA[AND equiptype.longitude = #{longitude}]]>
		</if>
		<if test="longitude == null or longitude == ''">
			<if test="longitudeAlk != null and longitudeAlk != ''">
				<![CDATA[AND equiptype.longitude LIKE CONCAT('%',#{longitudeAlk},'%')]]>
			</if>
			<if test="longitudes != null">
				AND equiptype.longitude IN 
				<foreach collection="longitudes" index="index" item="item" open="(" separator="," close=")">   
					#{item}
				</foreach>
			</if>
		</if>
		<if test="latitude != null and latitude != ''">
			<![CDATA[AND equiptype.latitude = #{latitude}]]>
		</if>
		<if test="latitude == null or latitude == ''">
			<if test="latitudeAlk != null and latitudeAlk != ''">
				<![CDATA[AND equiptype.latitude LIKE CONCAT('%',#{latitudeAlk},'%')]]>
			</if>
			<if test="latitudes != null">
				AND equiptype.latitude IN 
				<foreach collection="latitudes" index="index" item="item" open="(" separator="," close=")">   
					#{item}
				</foreach>
			</if>
		</if>
		<if test="IP != null and IP != ''">
			<![CDATA[AND equiptype.IP = #{IP}]]>
		</if>
		<if test="IP == null or IP == ''">
			<if test="IPAlk != null and IPAlk != ''">
				<![CDATA[AND equiptype.IP LIKE CONCAT('%',#{IPAlk},'%')]]>
			</if>
			<if test="IPs != null">
				AND equiptype.IP IN 
				<foreach collection="IPs" index="index" item="item" open="(" separator="," close=")">   
					#{item}
				</foreach>
			</if>
		</if>
		<if test="ZguanliPer != null and ZguanliPer != ''">
			<![CDATA[AND equiptype.Zguanli_per = #{ZguanliPer}]]>
		</if>
		<if test="ZguanliPer == null or ZguanliPer == ''">
			<if test="ZguanliPerAlk != null and ZguanliPerAlk != ''">
				<![CDATA[AND equiptype.Zguanli_per LIKE CONCAT('%',#{ZguanliPerAlk},'%')]]>
			</if>
			<if test="ZguanliPers != null">
				AND equiptype.Zguanli_per IN 
				<foreach collection="ZguanliPers" index="index" item="item" open="(" separator="," close=")">   
					#{item}
				</foreach>
			</if>
		</if>
		<if test="ZguanliPhone != null and ZguanliPhone != ''">
			<![CDATA[AND equiptype.Zguanli_phone = #{ZguanliPhone}]]>
		</if>
		<if test="ZguanliPhone == null or ZguanliPhone == ''">
			<if test="ZguanliPhoneAlk != null and ZguanliPhoneAlk != ''">
				<![CDATA[AND equiptype.Zguanli_phone LIKE CONCAT('%',#{ZguanliPhoneAlk},'%')]]>
			</if>
			<if test="ZguanliPhones != null">
				AND equiptype.Zguanli_phone IN 
				<foreach collection="ZguanliPhones" index="index" item="item" open="(" separator="," close=")">   
					#{item}
				</foreach>
			</if>
		</if>
		<if test="CguanliPer != null and CguanliPer != ''">
			<![CDATA[AND equiptype.Cguanli_per = #{CguanliPer}]]>
		</if>
		<if test="CguanliPer == null or CguanliPer == ''">
			<if test="CguanliPerAlk != null and CguanliPerAlk != ''">
				<![CDATA[AND equiptype.Cguanli_per LIKE CONCAT('%',#{CguanliPerAlk},'%')]]>
			</if>
			<if test="CguanliPers != null">
				AND equiptype.Cguanli_per IN 
				<foreach collection="CguanliPers" index="index" item="item" open="(" separator="," close=")">   
					#{item}
				</foreach>
			</if>
		</if>
		<if test="CguanliPhone != null and CguanliPhone != ''">
			<![CDATA[AND equiptype.Cguanli_phone = #{CguanliPhone}]]>
		</if>
		<if test="CguanliPhone == null or CguanliPhone == ''">
			<if test="CguanliPhoneAlk != null and CguanliPhoneAlk != ''">
				<![CDATA[AND equiptype.Cguanli_phone LIKE CONCAT('%',#{CguanliPhoneAlk},'%')]]>
			</if>
			<if test="CguanliPhones != null">
				AND equiptype.Cguanli_phone IN 
				<foreach collection="CguanliPhones" index="index" item="item" open="(" separator="," close=")">   
					#{item}
				</foreach>
			</if>
		</if>
		<if test="JguanliPer != null and JguanliPer != ''">
			<![CDATA[AND equiptype.Jguanli_per = #{JguanliPer}]]>
		</if>
		<if test="JguanliPer == null or JguanliPer == ''">
			<if test="JguanliPerAlk != null and JguanliPerAlk != ''">
				<![CDATA[AND equiptype.Jguanli_per LIKE CONCAT('%',#{JguanliPerAlk},'%')]]>
			</if>
			<if test="JguanliPers != null">
				AND equiptype.Jguanli_per IN 
				<foreach collection="JguanliPers" index="index" item="item" open="(" separator="," close=")">   
					#{item}
				</foreach>
			</if>
		</if>
		<if test="JguanliPhone != null and JguanliPhone != ''">
			<![CDATA[AND equiptype.Jguanli_phone = #{JguanliPhone}]]>
		</if>
		<if test="JguanliPhone == null or JguanliPhone == ''">
			<if test="JguanliPhoneAlk != null and JguanliPhoneAlk != ''">
				<![CDATA[AND equiptype.Jguanli_phone LIKE CONCAT('%',#{JguanliPhoneAlk},'%')]]>
			</if>
			<if test="JguanliPhones != null">
				AND equiptype.Jguanli_phone IN 
				<foreach collection="JguanliPhones" index="index" item="item" open="(" separator="," close=")">   
					#{item}
				</foreach>
			</if>
		</if>
		<if test="bengxing != null and bengxing != ''">
			<![CDATA[AND equiptype.bengxing = #{bengxing}]]>
		</if>
		<if test="bengxing == null or bengxing == ''">
			<if test="bengxingAlk != null and bengxingAlk != ''">
				<![CDATA[AND equiptype.bengxing LIKE CONCAT('%',#{bengxingAlk},'%')]]>
			</if>
			<if test="bengxings != null">
				AND equiptype.bengxing IN 
				<foreach collection="bengxings" index="index" item="item" open="(" separator="," close=")">   
					#{item}
				</foreach>
			</if>
		</if>
		<if test="koujing != null and koujing != ''">
			<![CDATA[AND equiptype.koujing = #{koujing}]]>
		</if>
		<if test="koujing == null or koujing == ''">
			<if test="koujingAlk != null and koujingAlk != ''">
				<![CDATA[AND equiptype.koujing LIKE CONCAT('%',#{koujingAlk},'%')]]>
			</if>
			<if test="koujings != null">
				AND equiptype.koujing IN 
				<foreach collection="koujings" index="index" item="item" open="(" separator="," close=")">   
					#{item}
				</foreach>
			</if>
		</if>
		<if test="gonglv != null and gonglv != ''">
			<![CDATA[AND equiptype.gonglv = #{gonglv}]]>
		</if>
		<if test="gonglv == null or gonglv == ''">
			<if test="gonglvAlk != null and gonglvAlk != ''">
				<![CDATA[AND equiptype.gonglv LIKE CONCAT('%',#{gonglvAlk},'%')]]>
			</if>
			<if test="gonglvs != null">
				AND equiptype.gonglv IN 
				<foreach collection="gonglvs" index="index" item="item" open="(" separator="," close=")">   
					#{item}
				</foreach>
			</if>
		</if>
		<if test="xinhao != null and xinhao != ''">
			<![CDATA[AND equiptype.xinhao = #{xinhao}]]>
		</if>
		<if test="xinhao == null or xinhao == ''">
			<if test="xinhaoAlk != null and xinhaoAlk != ''">
				<![CDATA[AND equiptype.xinhao LIKE CONCAT('%',#{xinhaoAlk},'%')]]>
			</if>
			<if test="xinhaos != null">
				AND equiptype.xinhao IN 
				<foreach collection="xinhaos" index="index" item="item" open="(" separator="," close=")">   
					#{item}
				</foreach>
			</if>
		</if>
	</sql>

	<sql id="sql_map_order">
		<trim prefix="ORDER BY" suffixOverrides=",">
		<if test="sort == 'id' and (order == 'asc' or order == 'desc')">
			equiptype.id ${order},
		</if>
		<if test="sort == 'parentId' and (order == 'asc' or order == 'desc')">
			equiptype.parent_id ${order},
		</if>
		<if test="sort == 'name' and (order == 'asc' or order == 'desc')">
			equiptype.name ${order},
		</if>
		<if test="sort == 'addPer' and (order == 'asc' or order == 'desc')">
			equiptype.add_per ${order},
		</if>
		<if test="sort == 'addTime' and (order == 'asc' or order == 'desc')">
			equiptype.add_time ${order},
		</if>
		<if test="sort == 'typeLayer' and (order == 'asc' or order == 'desc')">
			equiptype.type_layer ${order},
		</if>
		<if test="sort == 'addressCode' and (order == 'asc' or order == 'desc')">
			equiptype.addressCode ${order},
		</if>
		<if test="sort == 'systemId' and (order == 'asc' or order == 'desc')">
			equiptype.system_id ${order},
		</if>
		<if test="sort == 'longitude' and (order == 'asc' or order == 'desc')">
			equiptype.longitude ${order},
		</if>
		<if test="sort == 'latitude' and (order == 'asc' or order == 'desc')">
			equiptype.latitude ${order},
		</if>
		<if test="sort == 'IP' and (order == 'asc' or order == 'desc')">
			equiptype.IP ${order},
		</if>
		<if test="sort == 'ZguanliPer' and (order == 'asc' or order == 'desc')">
			equiptype.Zguanli_per ${order},
		</if>
		<if test="sort == 'ZguanliPhone' and (order == 'asc' or order == 'desc')">
			equiptype.Zguanli_phone ${order},
		</if>
		<if test="sort == 'CguanliPer' and (order == 'asc' or order == 'desc')">
			equiptype.Cguanli_per ${order},
		</if>
		<if test="sort == 'CguanliPhone' and (order == 'asc' or order == 'desc')">
			equiptype.Cguanli_phone ${order},
		</if>
		<if test="sort == 'JguanliPer' and (order == 'asc' or order == 'desc')">
			equiptype.Jguanli_per ${order},
		</if>
		<if test="sort == 'JguanliPhone' and (order == 'asc' or order == 'desc')">
			equiptype.Jguanli_phone ${order},
		</if>
		<if test="sort == 'bengxing' and (order == 'asc' or order == 'desc')">
			equiptype.bengxing ${order},
		</if>
		<if test="sort == 'koujing' and (order == 'asc' or order == 'desc')">
			equiptype.koujing ${order},
		</if>
		<if test="sort == 'gonglv' and (order == 'asc' or order == 'desc')">
			equiptype.gonglv ${order},
		</if>
		<if test="sort == 'xinhao' and (order == 'asc' or order == 'desc')">
			equiptype.xinhao ${order},
		</if>
		</trim>
	</sql>

	<sql id="sql_map_page">
		<if test="page != null and rows != null" >
			limit #{rows} offset #{page}
		</if>
	</sql>
	
	
		<select id="queryMapListNoPage" resultType="map" parameterType="map">
		<![CDATA[
		SELECT 
			equiptype.id AS id,
			equiptype.parent_id AS parentId,
			equiptype.name AS name,
			equiptype.add_per AS addPer,
			equiptype.add_time AS addTime,
			equiptype.type_layer AS typeLayer,
			equiptype.addressCode AS addressCode,
			equiptype.system_id AS systemId,
			equiptype.longitude AS longitude,
			equiptype.latitude AS latitude,
			equiptype.IP AS IP,
			equiptype.Zguanli_per AS ZguanliPer,
			equiptype.Zguanli_phone AS ZguanliPhone,
			equiptype.Cguanli_per AS CguanliPer,
			equiptype.Cguanli_phone AS CguanliPhone,
			equiptype.Jguanli_per AS JguanliPer,
			equiptype.Jguanli_phone AS JguanliPhone,
			equiptype.bengxing AS bengxing,
			equiptype.koujing AS koujing,
			equiptype.gonglv AS gonglv,
			equiptype.xinhao AS xinhao
		FROM equiptype
		]]>
		<where>
			<include refid="sql_map_where" />
		</where>
		<include refid="sql_map_order" />
	</select>
	
		<select id="queryDirectSubTypes" resultType="map" parameterType="map">
		SELECT 
			equiptype.id AS id,
			equiptype.parent_id AS parentId,
			equiptype.name AS name,
			equiptype.add_per AS addPer,
			DATE_FORMAT(equiptype.add_time,'%Y-%m-%d %h:%i') AS addTime,
			equiptype.type_layer AS typeLayer,
			equiptype.addressCode AS addressCode,
			equiptype.system_id AS systemId,
			equiptype.longitude AS longitude,
			equiptype.latitude AS latitude,
			equiptype.IP AS IP,
			equiptype.Zguanli_per AS ZguanliPer,
			equiptype.Zguanli_phone AS ZguanliPhone,
			equiptype.Cguanli_per AS CguanliPer,
			equiptype.Cguanli_phone AS CguanliPhone,
			equiptype.Jguanli_per AS JguanliPer,
			equiptype.Jguanli_phone AS JguanliPhone,
			equiptype.bengxing AS bengxing,
			equiptype.koujing AS koujing,
			equiptype.gonglv AS gonglv,
			equiptype.xinhao AS xinhao
		FROM equiptype
		where parent_id = #{parentId}
		<if test="systemId != null and systemId != ''">
			AND system_id = #{systemId} 
		</if>
	</select>
	
	
	<select id="querySubTypes" resultType="map" parameterType="map">
		SELECT 
			equiptype.id AS id,
			equiptype.parent_id AS parentId,
			equiptype.name AS name,
			equiptype.add_per AS addPer,
			equiptype.add_time AS addTime,
			equiptype.type_layer AS typeLayer,
			equiptype.addressCode AS addressCode,
			equiptype.system_id AS systemId,
			equiptype.longitude AS longitude,
			equiptype.latitude AS latitude,
			equiptype.IP AS IP,
			equiptype.Zguanli_per AS ZguanliPer,
			equiptype.Zguanli_phone AS ZguanliPhone,
			equiptype.Cguanli_per AS CguanliPer,
			equiptype.Cguanli_phone AS CguanliPhone,
			equiptype.Jguanli_per AS JguanliPer,
			equiptype.Jguanli_phone AS JguanliPhone,
			equiptype.bengxing AS bengxing,
			equiptype.koujing AS koujing,
			equiptype.gonglv AS gonglv,
			equiptype.xinhao AS xinhao
		FROM equiptype
		where 1 = 1
		<if test="ids != null and ids.size > 0 " >
			AND  equiptype.id IN 
			<foreach collection="ids" index="index" item="item" open="(" separator="," close=")">   
				#{item}
			</foreach>
		</if>
		<if test="systemId != null ">
			AND equiptype.system_id = ${systemId} 
		</if>
		<if test="stationName != null and stationName != ''">
			<![CDATA[ and (instr(equiptype.name ,#{stationName}) or instr(equiptype.addressCode,#{stationName})) ]]>
		</if>
	 	order by equiptype.id asc
	 	<include refid="sql_map_page" />
	</select>
	
	<select id="getSubTypeCount" resultType="int" parameterType="map">
		SELECT 
			count(1)
		FROM equiptype
		where 1 = 1
		<if test="ids != null and ids.size > 0 " >
			AND  equiptype.id IN 
			<foreach collection="ids" index="index" item="item" open="(" separator="," close=")">   
				#{item}
			</foreach>
		</if>
		<if test="systemId != null and systemId != ''">
			AND equiptype.system_id = #{systemId} 
		</if>		
		<if test="stationName != null and stationName != ''">
			<![CDATA[ and (instr(equiptype.name ,#{stationName}) or instr(equiptype.addressCode,#{stationName})) ]]>
		</if>
	</select>
	
	
	<select id="getSubTypes" resultType="map" parameterType="map">
		SELECT 
			equiptype.id AS id,
			equiptype.parent_id AS parentId,
			equiptype.name AS name,
			equiptype.add_per AS addPer,
			equiptype.add_time AS addTime,
			equiptype.type_layer AS typeLayer,
			equiptype.addressCode AS addressCode,
			equiptype.system_id AS systemId,
			equiptype.longitude AS longitude,
			equiptype.latitude AS latitude,
			equiptype.IP AS IP,
			equiptype.Zguanli_per AS ZguanliPer,
			equiptype.Zguanli_phone AS ZguanliPhone,
			equiptype.Cguanli_per AS CguanliPer,
			equiptype.Cguanli_phone AS CguanliPhone,
			equiptype.Jguanli_per AS JguanliPer,
			equiptype.Jguanli_phone AS JguanliPhone,
			equiptype.bengxing AS bengxing,
			equiptype.koujing AS koujing,
			equiptype.gonglv AS gonglv,
			equiptype.xinhao AS xinhao
	 	FROM equiptype WHERE FIND_IN_SET(id, getTypeChild(#{parentId}))
		<if test="systemId != null and systemId != ''">
			AND equiptype.system_id = #{systemId} 
		</if>
	</select>
	
	<select id="getTypeById" resultType="map" parameterType="string">
		SELECT 
			equiptype.id AS id,
			equiptype.parent_id AS parentId,
			equiptype.name AS name,
			equiptype.add_per AS addPer,
			equiptype.add_time AS addTime,
			equiptype.type_layer AS typeLayer,
			equiptype.addressCode AS addressCode,
			equiptype.system_id AS systemId,
			equiptype.longitude AS longitude,
			equiptype.latitude AS latitude,
			equiptype.IP AS IP,
			equiptype.Zguanli_per AS ZguanliPer,
			equiptype.Zguanli_phone AS ZguanliPhone,
			equiptype.Cguanli_per AS CguanliPer,
			equiptype.Cguanli_phone AS CguanliPhone,
			equiptype.Jguanli_per AS JguanliPer,
			equiptype.Jguanli_phone AS JguanliPhone,
			equiptype.bengxing AS bengxing,
			equiptype.koujing AS koujing,
			equiptype.gonglv AS gonglv,
			equiptype.xinhao AS xinhao
	 	FROM equiptype WHERE id = #{id}
	</select>
	
	
	<select id="getTypesByIds" resultType="map" parameterType="map">
		SELECT 
			equiptype.id AS id,
			equiptype.parent_id AS parentId,
			equiptype.name AS name,
			equiptype.add_per AS addPer,
			equiptype.add_time AS addTime,
			equiptype.type_layer AS typeLayer,
			equiptype.addressCode AS addressCode,
			equiptype.system_id AS systemId,
			equiptype.longitude AS longitude,
			equiptype.latitude AS latitude,
			equiptype.IP AS IP,
			equiptype.Zguanli_per AS zguanliPer,
			equiptype.Zguanli_phone AS zguanliPhone,
			equiptype.Cguanli_per AS cguanliPer,
			equiptype.Cguanli_phone AS cguanliPhone,
			equiptype.Jguanli_per AS jguanliPer,
			equiptype.Jguanli_phone AS jguanliPhone,
			equiptype.bengxing AS bengxing,
			equiptype.koujing AS koujing,
			equiptype.gonglv AS gonglv,
			equiptype.xinhao AS xinhao,
			equiptype.tag AS tag
	 	FROM equiptype 
	 	WHERE 1 = 1 
		<if test="ids != null">
			AND equiptype.id IN 
			<foreach collection="ids" index="index" item="item" open="(" separator="," close=")">   
				#{item}
			</foreach>
		</if>
		<if test="parentId != null and parentId != ''">
			and parent_id = #{parentId}
		</if>
		<if test="systemId != null and systemId != ''">
			AND equiptype.system_id = #{systemId} 
		</if>
	</select>
	
	<select id="getSubTypeIds" resultType="int" parameterType="map">
		select id from equiptype where id = #{parentId}
		<if test="stationName != null and stationName != ''">
			<![CDATA[ and (instr(name ,#{stationName}) or instr(addressCode,#{stationName})) ]]>
		</if>
		<if test="systemId != null and systemId != ''">
			AND system_id = #{systemId} 
		</if>
		UNION all 
		select id from equiptype where parent_id = #{parentId}
		<if test="stationName != null and stationName != ''">
			<![CDATA[ and (instr(name ,#{stationName}) or instr( addressCode,#{stationName})) ]]>
		</if>
		<if test="systemId != null and systemId != ''">
			AND system_id = #{systemId} 
		</if>
		UNION all 
		select id from equiptype where parent_id in(select id from equiptype where parent_id = #{parentId})
		<if test="stationName != null and stationName != ''">
			<![CDATA[ and (instr(name ,#{stationName}) or instr( addressCode,#{stationName})) ]]>
		</if>
		<if test="systemId != null and systemId != ''">
			AND system_id = #{systemId} 
		</if>
		UNION all 
		select id from equiptype where parent_id in(select id from equiptype where parent_id in(select id from equiptype where parent_id = #{parentId}))
		<if test="stationName != null and stationName != ''">
			<![CDATA[ and (instr(name ,#{stationName}) or instr( addressCode,#{stationName})) ]]>
		</if>
		<if test="systemId != null and systemId != ''">
			AND system_id = #{systemId} 
		</if>
		UNION all 
		select id from equiptype where parent_id in(select id from equiptype 
		where parent_id in(select id from equiptype where parent_id  in(select id from equiptype where parent_id = #{parentId}))) 
		<if test="stationName != null and stationName != ''">
			<![CDATA[ and (instr(name ,#{stationName}) or instr( addressCode,#{stationName})) ]]>
		</if>
		<if test="systemId != null and systemId != ''">
			AND system_id = #{systemId} 
		</if>
	</select>
	
	<select id="exportTypeList" parameterType="map" resultType="map">
		SELECT 
			equiptype.id AS id,
			equiptype.parent_id AS parentId,
			equiptype.name AS name,
			equiptype.add_per AS addPer,
			equiptype.add_time AS addTime,
			equiptype.type_layer AS typeLayer,
			equiptype.addressCode AS addressCode,
			equiptype.system_id AS systemId,
			equiptype.longitude AS longitude,
			equiptype.latitude AS latitude,
			equiptype.Zguanli_per AS ZguanliPer,
			equiptype.Zguanli_phone AS ZguanliPhone,
			equiptype.Cguanli_per AS CguanliPer,
			equiptype.Cguanli_phone AS CguanliPhone,
			equiptype.Jguanli_per AS JguanliPer,
			equiptype.Jguanli_phone AS JguanliPhone,
			equiptype.bengxing AS bengxing,
			equiptype.koujing AS koujing,
			equiptype.gonglv AS gonglv,
			equiptype.xinhao AS xinhao
		FROM 
			equiptype
		WHERE 1 = 1

			and equiptype.type_layer = 4
	</select>
	
		
	<select id="allEquipAddressCodeList" resultType="string" parameterType="map">
		SELECT 
			equiptype.addressCode AS addressCode
		FROM 
			equiptype
		WHERE 1 = 1
			<if test="systemId != null and systemId != ''">
				and equiptype.system_id = #{systemId} 
			</if>
			and equiptype.type_layer = 4
	</select>
	
	<update id="updateByAddressCode" parameterType="map">
		update equiptype set ip = #{ip} , update_time = now()  where addressCode = #{addressCode}
	</update>
		
	<update id="updateInfoByAddressCode" parameterType="map">
		update equiptype 
		set longitude = #{longitude} , 
			latitude = #{latitude} ,
			Zguanli_per = #{Zguanli_per} ,
			Zguanli_phone = #{zguanliPhone} ,
			Cguanli_per = #{cguanliPer} ,
			Cguanli_phone = #{cguanliPhone} ,
			Jguanli_per = #{jguanliPer} ,
			Jguanli_phone = #{jguanliPhone} ,
			bengxing = #{bengxing} ,
			koujing = #{koujing} ,
			gonglv = #{gonglv} ,
			xinhao = #{xinhao}
		where addressCode = #{addressCode}
	</update>
	
	<select id="getAddressCodeByIp" parameterType="java.lang.String" resultType="java.lang.String">
		select addresscode from equiptype where ip = #{ip} limit 1
	</select>	
	
	<select id="getIPByAddressCode" parameterType="java.lang.String" resultType="java.lang.String">
		select ip from equiptype where addressCode = #{addressCode} limit 1
	</select>	
	
	<select id="getAddressCodeNull" resultType="java.lang.String">
		SELECT addressCode from equiptype WHERE parent_id is null 
	</select>
	<select id="getUserSystemIdByUserId" parameterType="map" resultType="int"> 
		select 1 from equiptype where id = (SELECT parent_id from user where id = ${id})
			UNION
		select 1
	</select>
</mapper>