<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bjjoy.bms.setting.persist.mapper.SystemDao">

	<select id="queryOneMap" resultType="map" parameterType="java.lang.String">
		SELECT 
			system.id AS id,
			system.system AS system
		FROM 
			system
		WHERE 
			system.id = #{id}
	</select>
	
	<select id="queryMapList" resultType="map" parameterType="map">
		<![CDATA[
		SELECT 
			system.id AS id,
			system.system AS system
		FROM system
		]]>
		<where>
			<include refid="sql_map_where" />
		</where>
		<include refid="sql_map_order" />
		<include refid="sql_map_page" />
	</select>

	<select id="queryMapListCount" parameterType="map" resultType="long">
		SELECT 
			COUNT(0) 
		FROM 
			system
		<where>
			<include refid="sql_map_where" />
		</where>
	</select>

	<sql id="sql_map_where">
		<if test="search != null and search != ''">
			<![CDATA[
			AND (
					CAST(system.id as CHAR) LIKE CONCAT('%',#{search},'%') OR
					system.system LIKE CONCAT('%',#{search},'%') 
			)
			]]>
		</if>
		<if test="id != null and id != ''">
		<![CDATA[AND system.id = #{id}]]>
		</if>
		<if test="id == null or id == ''">
		<if test="idAst != null and idAst != ''">
			<![CDATA[AND system.id >= #{idAst}]]>
		</if>
		<if test="idAed != null and idAed != ''">
			<![CDATA[AND system.id <= #{idAed}]]>
		</if>
		<if test="ids != null">
			AND system.id IN
			<foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="idAlk != null and idAlk != ''">
			<![CDATA[AND CAST(system.id AS CHAR) LIKE CONCAT('%',#{idAlk},'%')]]>
		</if>
		</if>
		<if test="system != null and system != ''">
			<![CDATA[AND system.system = #{system}]]>
		</if>
		<if test="system == null or system == ''">
			<if test="systemAlk != null and systemAlk != ''">
				<![CDATA[AND system.system LIKE CONCAT('%',#{systemAlk},'%')]]>
			</if>
			<if test="systems != null">
				AND system.system IN 
				<foreach collection="systems" index="index" item="item" open="(" separator="," close=")">   
					#{item}
				</foreach>
			</if>
		</if>
	</sql>

	<sql id="sql_map_order">
		<trim prefix="ORDER BY" suffixOverrides=",">
		<if test="sort == 'id' and (order == 'asc' or order == 'desc')">
			system.id ${order},
		</if>
		<if test="sort == 'system' and (order == 'asc' or order == 'desc')">
			system.system ${order},
		</if>
		</trim>
	</sql>

	<sql id="sql_map_page">
		<if test="page != null and rows != null" >
		limit #{rows} offset #{page}
		</if>
	</sql>
	
</mapper>