<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bjjoy.bms.setting.dao.CamacRoleDao">
	
	<parameterMap id="pm_camacRole" type="cn.bjjoy.bms.setting.entity.CamacRole">
		<parameter property="id" javaType="Long" jdbcType="BIGINT" />
		<parameter property="ruleName" javaType="String" jdbcType="VARCHAR" />
		<parameter property="createDatetime" javaType="Date" jdbcType="TIMESTAMP" />
	</parameterMap>
	
	<resultMap id="rm_camacRole" type="cn.bjjoy.bms.setting.entity.CamacRole">
		<result property="id" column="id" javaType="Long" jdbcType="BIGINT" />
		<result property="ruleName" column="rule_name" javaType="String" jdbcType="VARCHAR" />
		<result property="createDatetime" column="create_datetime" javaType="Date" jdbcType="TIMESTAMP" />
	</resultMap>

	<insert id="save" parameterMap="pm_camacRole" useGeneratedKeys="true" keyProperty="id" >
		insert into camac_role
		<trim prefix="(" suffix=")" suffixOverrides="," >	
			<if test="id != null">id,</if>
			<if test="ruleName != null">rule_name,</if>
			<if test="createDatetime != null">create_datetime</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id != null">#{id},</if>
			<if test="ruleName != null">#{ruleName},</if>
			<if test="createDatetime != null">#{createDatetime}</if>
		</trim>
	</insert>
		
	<delete id="deleteOne" parameterType="java.lang.String">
		DELETE FROM camac_role WHERE camac_role.id = #{id}
	</delete>
	
	<delete id="delete" parameterType="map">
		DELETE FROM camac_role
		<where>
			<include refid="sql_where" />
		</where>
	</delete>

	<select id="queryOne" parameterType="java.lang.String" resultMap="rm_camacRole">
		<include refid="sql_select"/>
		WHERE camac_role.id = #{id}
	</select>
	
	<select id="queryList" parameterType="map" resultMap="rm_camacRole">
		<include refid="sql_select" />
		<where>
			<include refid="sql_where" />
		</where>
		<include refid="sql_order" />
		<include refid="sql_page" />
	</select>
	
	<select id="queryListCount" parameterType="map" resultType="long">
		SELECT COUNT(0) FROM camac_role
		<where>
			<include refid="sql_where" />
		</where>
	</select>
	
	<update id="updateOne" parameterType="map">
		UPDATE camac_role
		<set>
		<if test="_parameter.containsKey('ruleName')">
		<choose>
            <when test="ruleName == null or ruleName == ''">
			rule_name = NULL,
            </when>
            <otherwise>
			rule_name = #{ruleName},
            </otherwise>
        </choose>
		</if>
		<if test="_parameter.containsKey('createDatetime')">
		<choose>
            <when test="createDatetime == null or createDatetime == ''">
			create_datetime = NULL
            </when>
            <otherwise>
			create_datetime = #{createDatetime}
            </otherwise>  
        </choose>
		</if>
		</set>
		<where>
		id = #{id}
		</where>
	</update>

	<update id="update" parameterType="map">
		UPDATE camac_role
		<set>
		<if test="_parameter.containsKey('ruleNameAnw')">
		<choose>
            <when test="ruleNameAnw == null or ruleNameAnw == ''">
			rule_name = NULL,
            </when>
            <otherwise>
			rule_name = #{ruleNameAnw},
            </otherwise>  
        </choose>
		</if>
		<if test="_parameter.containsKey('createDatetimeAnw')">
		<choose>
            <when test="createDatetimeAnw == null or createDatetimeAnw == ''">
			create_datetime = NULL
            </when>
            <otherwise>
			create_datetime = #{createDatetimeAnw}
            </otherwise>  
        </choose>
		</if>
		</set>
		<where>
			<include refid="sql_where"/>
		</where>
	</update>
	
	<sql id="sql_select">
		<![CDATA[
		SELECT 
			camac_role.id,
			camac_role.rule_name,
			camac_role.create_datetime
		FROM camac_role
		]]>
	</sql>

	<sql id="sql_where">
		<if test="id != null and id != ''">
			<![CDATA[AND camac_role.id = #{id}]]>
		</if>
		<if test="id == null or id == ''">
			<if test="idAst != null and idAst != ''">
				<![CDATA[AND camac_role.id >= #{idAst}]]>
			</if>
			<if test="idAed != null and idAed != ''">
				<![CDATA[AND camac_role.id <= #{idAed}]]>
			</if>
			<if test="ids != null">
				AND camac_role.id IN 
				<foreach collection="ids" index="index" item="item" open="(" separator="," close=")">   
					#{item}
				</foreach>
			</if>
			<if test="idAlk != null and idAlk != ''">
				<![CDATA[AND CAST(camac_role.id AS CHAR) LIKE CONCAT('%',#{idAlk},'%')]]>
			</if>
		</if>
		<if test="ruleName != null and ruleName != ''">
			<![CDATA[AND camac_role.rule_name = #{ruleName}]]>
		</if>
		<if test="ruleName == null or ruleName == ''">
			<if test="ruleNameAlk != null and ruleNameAlk != ''">
				<![CDATA[AND camac_role.rule_name LIKE CONCAT('%',#{ruleNameAlk},'%')]]>
			</if>
			<if test="ruleNames != null">
				AND camac_role.rule_name IN 
				<foreach collection="ruleNames" index="index" item="item" open="(" separator="," close=")">   
					#{item}
				</foreach>
			</if>
		</if>
		<if test="createDatetime != null and createDatetime != ''">
			<![CDATA[AND date_format(camac_role.create_datetime,'%Y-%m-%d') = #{createDatetime}]]>
		</if>
		<if test="createDatetime == null or createDatetime == ''">
			<if test="createDatetimeAst != null and createDatetimeAst != ''">
				<![CDATA[AND date_format(camac_role.create_datetime,'%Y-%m-%d') >= #{createDatetimeAst}]]>
			</if>
			<if test="createDatetimeAed != null and createDatetimeAed != ''">
				<![CDATA[AND date_format(camac_role.create_datetime,'%Y-%m-%d') <= #{createDatetimeAed}]]>
			</if>
			<if test="createDatetimes != null">
				AND date_format(camac_role.create_datetime,'%Y-%m-%d') IN 
				<foreach collection="createDatetimes" index="index" item="item" open="(" separator="," close=")">   
					#{item}
				</foreach>
			</if>
			<if test="createDatetimeAlk != null and createDatetimeAlk != ''">
				<![CDATA[AND date_format(camac_role.create_datetime,'%Y-%m-%d') LIKE CONCAT('%',#{createDatetimeAlk},'%')]]>
			</if>
		</if>
	</sql>
	
	<sql id="sql_order">
		<trim prefix="ORDER BY" suffixOverrides=",">
		<if test="sort == 'id' and (order == 'asc' or order == 'desc')">
			camac_role.id ${order},
		</if>
		<if test="sort == 'ruleName' and (order == 'asc' or order == 'desc')">
			camac_role.rule_name ${order},
		</if>
		<if test="sort == 'createDatetime' and (order == 'asc' or order == 'desc')">
			camac_role.create_datetime ${order}
		</if>
		</trim>
	</sql>
	
	<sql id="sql_page">
		<if test="page != null and rows != null" >
		limit #{rows} offset #{page}
		</if>
	</sql>
</mapper>