<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bjjoy.bms.setting.dao.CamacBusiCatalogProductDao">
	
	<parameterMap id="pm_camacBusiCatalogProduct" type="cn.bjjoy.bms.setting.entity.CamacBusiCatalogProduct">
		<parameter property="productId" javaType="Long" jdbcType="BIGINT" />
		<parameter property="catalogId" javaType="int" jdbcType="INTEGER" />
		<parameter property="productName" javaType="String" jdbcType="VARCHAR" />
		<parameter property="createTime" javaType="Date" jdbcType="TIMESTAMP" />
	</parameterMap>
	
	<resultMap id="rm_camacBusiCatalogProduct" type="cn.bjjoy.bms.setting.entity.CamacBusiCatalogProduct">
		<result property="productId" column="product_id" javaType="Long" jdbcType="BIGINT" />
		<result property="catalogId" column="catalog_id" javaType="int" jdbcType="INTEGER" />
		<result property="productName" column="product_name" javaType="String" jdbcType="VARCHAR" />
		<result property="createTime" column="create_time" javaType="Date" jdbcType="TIMESTAMP" />
	</resultMap>

	<insert id="save" parameterMap="pm_camacBusiCatalogProduct" useGeneratedKeys="true" keyProperty="productId" >
		insert into camac_busi_catalog_product
		<trim prefix="(" suffix=")" suffixOverrides="," >	
			<if test="productId != null">product_id,</if>
			<if test="catalogId != null">catalog_id,</if>
			<if test="productName != null">product_name,</if>
			<if test="createTime != null">create_time</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="productId != null">#{productId},</if>
			<if test="catalogId != null">#{catalogId},</if>
			<if test="productName != null">#{productName},</if>
			<if test="createTime != null">#{createTime}</if>
		</trim>
	</insert>
		
	<delete id="deleteOne" parameterType="java.lang.String">
		DELETE FROM camac_busi_catalog_product WHERE camac_busi_catalog_product.product_id = #{productId}
	</delete>
	
	<delete id="delete" parameterType="map">
		DELETE FROM camac_busi_catalog_product
		<where>
			<include refid="sql_where" />
		</where>
	</delete>

	<select id="queryOne" parameterType="java.lang.String" resultMap="rm_camacBusiCatalogProduct">
		<include refid="sql_select"/>
		WHERE camac_busi_catalog_product.product_id = #{productId}
	</select>
	
	<select id="queryList" parameterType="map" resultMap="rm_camacBusiCatalogProduct">
		<include refid="sql_select" />
		<where>
			<include refid="sql_where" />
		</where>
		<include refid="sql_order" />
		<include refid="sql_page" />
	</select>
	
	<select id="queryListCount" parameterType="map" resultType="long">
		SELECT COUNT(0) FROM camac_busi_catalog_product
		<where>
			<include refid="sql_where" />
		</where>
	</select>
	
	<update id="updateOne" parameterType="map">
		UPDATE camac_busi_catalog_product
		<set>
		<if test="_parameter.containsKey('catalogId')">
		<choose>
            <when test="catalogId == null">
			catalog_id = NULL,
            </when>
            <otherwise>
			catalog_id = #{catalogId},
            </otherwise>  
        </choose>
		</if>
		<if test="_parameter.containsKey('productName')">
		<choose>
            <when test="productName == null or productName == ''">
			product_name = NULL,
            </when>
            <otherwise>
			product_name = #{productName},
            </otherwise>
        </choose>
		</if>
		<if test="_parameter.containsKey('createTime')">
		<choose>
            <when test="createTime == null or createTime == ''">
			create_time = NULL
            </when>
            <otherwise>
			create_time = #{createTime}
            </otherwise>  
        </choose>
		</if>
		</set>
		<where>
		product_id = #{productId}
		</where>
	</update>

	<update id="update" parameterType="map">
		UPDATE camac_busi_catalog_product
		<set>
		<if test="_parameter.containsKey('catalogIdAnw')">
		<choose>
            <when test="catalogIdAnw == null">
			catalog_id = NULL,
            </when>
            <otherwise>
			catalog_id = #{catalogIdAnw},
            </otherwise>  
        </choose>
		</if>
		<if test="_parameter.containsKey('productNameAnw')">
		<choose>
            <when test="productNameAnw == null or productNameAnw == ''">
			product_name = NULL,
            </when>
            <otherwise>
			product_name = #{productNameAnw},
            </otherwise>  
        </choose>
		</if>
		<if test="_parameter.containsKey('createTimeAnw')">
		<choose>
            <when test="createTimeAnw == null or createTimeAnw == ''">
			create_time = NULL
            </when>
            <otherwise>
			create_time = #{createTimeAnw}
            </otherwise>  
        </choose>
		</if>
		</set>
		<where>
			<include refid="sql_where"/>
		</where>
	</update>
	
	<sql id="sql_select">
		<![CDATA[
		SELECT 
			camac_busi_catalog_product.product_id,
			camac_busi_catalog_product.catalog_id,
			camac_busi_catalog_product.product_name,
			camac_busi_catalog_product.create_time
		FROM camac_busi_catalog_product
		]]>
	</sql>

	<sql id="sql_where">
		<if test="productId != null and productId != ''">
			<![CDATA[AND camac_busi_catalog_product.product_id = #{productId}]]>
		</if>
		<if test="productId == null or productId == ''">
			<if test="productIdAst != null and productIdAst != ''">
				<![CDATA[AND camac_busi_catalog_product.product_id >= #{productIdAst}]]>
			</if>
			<if test="productIdAed != null and productIdAed != ''">
				<![CDATA[AND camac_busi_catalog_product.product_id <= #{productIdAed}]]>
			</if>
			<if test="productIds != null">
				AND camac_busi_catalog_product.product_id IN 
				<foreach collection="productIds" index="index" item="item" open="(" separator="," close=")">   
					#{item}
				</foreach>
			</if>
			<if test="productIdAlk != null and productIdAlk != ''">
				<![CDATA[AND CAST(camac_busi_catalog_product.product_id AS CHAR) LIKE CONCAT('%',#{productIdAlk},'%')]]>
			</if>
		</if>
		<if test="catalogId != null and catalogId != ''">
		<![CDATA[AND camac_busi_catalog_product.catalog_id = #{catalogId}]]>
		</if>
		<if test="catalogId == null or catalogId == ''">
		<if test="catalogIdAst != null and catalogIdAst != ''">
			<![CDATA[AND camac_busi_catalog_product.catalog_id >= #{catalogIdAst}]]>
		</if>
		<if test="catalogIdAed != null and catalogIdAed != ''">
			<![CDATA[AND camac_busi_catalog_product.catalog_id <= #{catalogIdAed}]]>
		</if>
		<if test="catalogIds != null">
			AND camac_busi_catalog_product.catalog_id IN
			<foreach collection="catalogIds" index="index" item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="catalogIdAlk != null and catalogIdAlk != ''">
			<![CDATA[AND CAST(camac_busi_catalog_product.catalog_id AS CHAR) LIKE CONCAT('%',#{catalogIdAlk},'%')]]>
		</if>
		</if>
		<if test="productName != null and productName != ''">
			<![CDATA[AND camac_busi_catalog_product.product_name = #{productName}]]>
		</if>
		<if test="productName == null or productName == ''">
			<if test="productNameAlk != null and productNameAlk != ''">
				<![CDATA[AND camac_busi_catalog_product.product_name LIKE CONCAT('%',#{productNameAlk},'%')]]>
			</if>
			<if test="productNames != null">
				AND camac_busi_catalog_product.product_name IN 
				<foreach collection="productNames" index="index" item="item" open="(" separator="," close=")">   
					#{item}
				</foreach>
			</if>
		</if>
		<if test="createTime != null and createTime != ''">
			<![CDATA[AND date_format(camac_busi_catalog_product.create_time,'%Y-%m-%d') = #{createTime}]]>
		</if>
		<if test="createTime == null or createTime == ''">
			<if test="createTimeAst != null and createTimeAst != ''">
				<![CDATA[AND date_format(camac_busi_catalog_product.create_time,'%Y-%m-%d') >= #{createTimeAst}]]>
			</if>
			<if test="createTimeAed != null and createTimeAed != ''">
				<![CDATA[AND date_format(camac_busi_catalog_product.create_time,'%Y-%m-%d') <= #{createTimeAed}]]>
			</if>
			<if test="createTimes != null">
				AND date_format(camac_busi_catalog_product.create_time,'%Y-%m-%d') IN 
				<foreach collection="createTimes" index="index" item="item" open="(" separator="," close=")">   
					#{item}
				</foreach>
			</if>
			<if test="createTimeAlk != null and createTimeAlk != ''">
				<![CDATA[AND date_format(camac_busi_catalog_product.create_time,'%Y-%m-%d') LIKE CONCAT('%',#{createTimeAlk},'%')]]>
			</if>
		</if>
	</sql>
	
	<sql id="sql_order">
		<trim prefix="ORDER BY" suffixOverrides=",">
		<if test="sort == 'productId' and (order == 'asc' or order == 'desc')">
			camac_busi_catalog_product.product_id ${order},
		</if>
		<if test="sort == 'catalogId' and (order == 'asc' or order == 'desc')">
			camac_busi_catalog_product.catalog_id ${order},
		</if>
		<if test="sort == 'productName' and (order == 'asc' or order == 'desc')">
			camac_busi_catalog_product.product_name ${order},
		</if>
		<if test="sort == 'createTime' and (order == 'asc' or order == 'desc')">
			camac_busi_catalog_product.create_time ${order}
		</if>
		</trim>
	</sql>
	
	<sql id="sql_page">
		<if test="page != null and rows != null" >
		limit #{rows} offset #{page}
		</if>
	</sql>
</mapper>