<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bjjoy.bms.setting.dao.CamacBusiCatalogDao">
	
	<parameterMap id="pm_camacBusiCatalog" type="cn.bjjoy.bms.setting.entity.CamacBusiCatalog">
		<parameter property="catalogId" javaType="Long" jdbcType="BIGINT" />
		<parameter property="userId" javaType="int" jdbcType="INTEGER" />
		<parameter property="catalogName" javaType="String" jdbcType="VARCHAR" />
		<parameter property="catalogContent" javaType="String" jdbcType="VARCHAR" />
		<parameter property="createTime" javaType="Date" jdbcType="TIMESTAMP" />
	</parameterMap>
	
	<resultMap id="rm_camacBusiCatalog" type="cn.bjjoy.bms.setting.entity.CamacBusiCatalog">
		<result property="catalogId" column="catalog_id" javaType="Long" jdbcType="BIGINT" />
		<result property="userId" column="user_id" javaType="int" jdbcType="INTEGER" />
		<result property="catalogName" column="catalog_name" javaType="String" jdbcType="VARCHAR" />
		<result property="catalogContent" column="catalog_content" javaType="String" jdbcType="VARCHAR" />
		<result property="createTime" column="create_time" javaType="Date" jdbcType="TIMESTAMP" />
	</resultMap>

	<insert id="save" parameterMap="pm_camacBusiCatalog" useGeneratedKeys="true" keyProperty="catalogId" >
		insert into camac_busi_catalog
		<trim prefix="(" suffix=")" suffixOverrides="," >	
			<if test="catalogId != null">catalog_id,</if>
			<if test="userId != null">user_id,</if>
			<if test="catalogName != null">catalog_name,</if>
			<if test="catalogContent != null">catalog_content,</if>
			<if test="createTime != null">create_time</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="catalogId != null">#{catalogId},</if>
			<if test="userId != null">#{userId},</if>
			<if test="catalogName != null">#{catalogName},</if>
			<if test="catalogContent != null">#{catalogContent},</if>
			<if test="createTime != null">#{createTime}</if>
		</trim>
	</insert>
		
	<delete id="deleteOne" parameterType="java.lang.String">
		DELETE FROM camac_busi_catalog WHERE camac_busi_catalog.catalog_id = #{catalogId}
	</delete>
	
	<delete id="delete" parameterType="map">
		DELETE FROM camac_busi_catalog
		<where>
			<include refid="sql_where" />
		</where>
	</delete>

	<select id="queryOne" parameterType="java.lang.String" resultMap="rm_camacBusiCatalog">
		<include refid="sql_select"/>
		WHERE camac_busi_catalog.catalog_id = #{catalogId}
	</select>
	
	<select id="queryList" parameterType="map" resultMap="rm_camacBusiCatalog">
		<include refid="sql_select" />
		<where>
			<include refid="sql_where" />
		</where>
		<include refid="sql_order" />
		<include refid="sql_page" />
	</select>
	
	<select id="queryListCount" parameterType="map" resultType="long">
		SELECT COUNT(0) FROM camac_busi_catalog
		<where>
			<include refid="sql_where" />
		</where>
	</select>
	
	<update id="updateOne" parameterType="map">
		UPDATE camac_busi_catalog
		<set>
		<if test="_parameter.containsKey('userId')">
		<choose>
            <when test="userId == null">
			user_id = NULL,
            </when>
            <otherwise>
			user_id = #{userId},
            </otherwise>  
        </choose>
		</if>
		<if test="_parameter.containsKey('catalogName')">
		<choose>
            <when test="catalogName == null or catalogName == ''">
			catalog_name = NULL,
            </when>
            <otherwise>
			catalog_name = #{catalogName},
            </otherwise>
        </choose>
		</if>
		<if test="_parameter.containsKey('catalogContent')">
		<choose>
            <when test="catalogContent == null or catalogContent == ''">
			catalog_content = NULL,
            </when>
            <otherwise>
			catalog_content = #{catalogContent},
            </otherwise>
        </choose>
		</if>
		<if test="_parameter.containsKey('createTime')">
		<choose>
            <when test="createTime == null or createTime == ''">
			create_time = NULL
            </when>
            <otherwise>
			create_time = #{createTime}
            </otherwise>  
        </choose>
		</if>
		</set>
		<where>
		catalog_id = #{catalogId}
		</where>
	</update>

	<update id="update" parameterType="map">
		UPDATE camac_busi_catalog
		<set>
		<if test="_parameter.containsKey('userIdAnw')">
		<choose>
            <when test="userIdAnw == null">
			user_id = NULL,
            </when>
            <otherwise>
			user_id = #{userIdAnw},
            </otherwise>  
        </choose>
		</if>
		<if test="_parameter.containsKey('catalogNameAnw')">
		<choose>
            <when test="catalogNameAnw == null or catalogNameAnw == ''">
			catalog_name = NULL,
            </when>
            <otherwise>
			catalog_name = #{catalogNameAnw},
            </otherwise>  
        </choose>
		</if>
		<if test="_parameter.containsKey('catalogContentAnw')">
		<choose>
            <when test="catalogContentAnw == null or catalogContentAnw == ''">
			catalog_content = NULL,
            </when>
            <otherwise>
			catalog_content = #{catalogContentAnw},
            </otherwise>  
        </choose>
		</if>
		<if test="_parameter.containsKey('createTimeAnw')">
		<choose>
            <when test="createTimeAnw == null or createTimeAnw == ''">
			create_time = NULL
            </when>
            <otherwise>
			create_time = #{createTimeAnw}
            </otherwise>  
        </choose>
		</if>
		</set>
		<where>
			<include refid="sql_where"/>
		</where>
	</update>
	
	<sql id="sql_select">
		<![CDATA[
		SELECT 
			camac_busi_catalog.catalog_id,
			camac_busi_catalog.user_id,
			camac_busi_catalog.catalog_name,
			camac_busi_catalog.catalog_content,
			camac_busi_catalog.create_time
		FROM camac_busi_catalog
		]]>
	</sql>

	<sql id="sql_where">
		<if test="catalogId != null and catalogId != ''">
			<![CDATA[AND camac_busi_catalog.catalog_id = #{catalogId}]]>
		</if>
		<if test="catalogId == null or catalogId == ''">
			<if test="catalogIdAst != null and catalogIdAst != ''">
				<![CDATA[AND camac_busi_catalog.catalog_id >= #{catalogIdAst}]]>
			</if>
			<if test="catalogIdAed != null and catalogIdAed != ''">
				<![CDATA[AND camac_busi_catalog.catalog_id <= #{catalogIdAed}]]>
			</if>
			<if test="catalogIds != null">
				AND camac_busi_catalog.catalog_id IN 
				<foreach collection="catalogIds" index="index" item="item" open="(" separator="," close=")">   
					#{item}
				</foreach>
			</if>
			<if test="catalogIdAlk != null and catalogIdAlk != ''">
				<![CDATA[AND CAST(camac_busi_catalog.catalog_id AS CHAR) LIKE CONCAT('%',#{catalogIdAlk},'%')]]>
			</if>
		</if>
		<if test="userId != null and userId != ''">
		<![CDATA[AND camac_busi_catalog.user_id = #{userId}]]>
		</if>
		<if test="userId == null or userId == ''">
		<if test="userIdAst != null and userIdAst != ''">
			<![CDATA[AND camac_busi_catalog.user_id >= #{userIdAst}]]>
		</if>
		<if test="userIdAed != null and userIdAed != ''">
			<![CDATA[AND camac_busi_catalog.user_id <= #{userIdAed}]]>
		</if>
		<if test="userIds != null">
			AND camac_busi_catalog.user_id IN
			<foreach collection="userIds" index="index" item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="userIdAlk != null and userIdAlk != ''">
			<![CDATA[AND CAST(camac_busi_catalog.user_id AS CHAR) LIKE CONCAT('%',#{userIdAlk},'%')]]>
		</if>
		</if>
		<if test="catalogName != null and catalogName != ''">
			<![CDATA[AND camac_busi_catalog.catalog_name = #{catalogName}]]>
		</if>
		<if test="catalogName == null or catalogName == ''">
			<if test="catalogNameAlk != null and catalogNameAlk != ''">
				<![CDATA[AND camac_busi_catalog.catalog_name LIKE CONCAT('%',#{catalogNameAlk},'%')]]>
			</if>
			<if test="catalogNames != null">
				AND camac_busi_catalog.catalog_name IN 
				<foreach collection="catalogNames" index="index" item="item" open="(" separator="," close=")">   
					#{item}
				</foreach>
			</if>
		</if>
		<if test="catalogContent != null and catalogContent != ''">
			<![CDATA[AND camac_busi_catalog.catalog_content = #{catalogContent}]]>
		</if>
		<if test="catalogContent == null or catalogContent == ''">
			<if test="catalogContentAlk != null and catalogContentAlk != ''">
				<![CDATA[AND camac_busi_catalog.catalog_content LIKE CONCAT('%',#{catalogContentAlk},'%')]]>
			</if>
			<if test="catalogContents != null">
				AND camac_busi_catalog.catalog_content IN 
				<foreach collection="catalogContents" index="index" item="item" open="(" separator="," close=")">   
					#{item}
				</foreach>
			</if>
		</if>
		<if test="createTime != null and createTime != ''">
			<![CDATA[AND date_format(camac_busi_catalog.create_time,'%Y-%m-%d') = #{createTime}]]>
		</if>
		<if test="createTime == null or createTime == ''">
			<if test="createTimeAst != null and createTimeAst != ''">
				<![CDATA[AND date_format(camac_busi_catalog.create_time,'%Y-%m-%d') >= #{createTimeAst}]]>
			</if>
			<if test="createTimeAed != null and createTimeAed != ''">
				<![CDATA[AND date_format(camac_busi_catalog.create_time,'%Y-%m-%d') <= #{createTimeAed}]]>
			</if>
			<if test="createTimes != null">
				AND date_format(camac_busi_catalog.create_time,'%Y-%m-%d') IN 
				<foreach collection="createTimes" index="index" item="item" open="(" separator="," close=")">   
					#{item}
				</foreach>
			</if>
			<if test="createTimeAlk != null and createTimeAlk != ''">
				<![CDATA[AND date_format(camac_busi_catalog.create_time,'%Y-%m-%d') LIKE CONCAT('%',#{createTimeAlk},'%')]]>
			</if>
		</if>
	</sql>
	
	<sql id="sql_order">
		<trim prefix="ORDER BY" suffixOverrides=",">
		<if test="sort == 'catalogId' and (order == 'asc' or order == 'desc')">
			camac_busi_catalog.catalog_id ${order},
		</if>
		<if test="sort == 'userId' and (order == 'asc' or order == 'desc')">
			camac_busi_catalog.user_id ${order},
		</if>
		<if test="sort == 'catalogName' and (order == 'asc' or order == 'desc')">
			camac_busi_catalog.catalog_name ${order},
		</if>
		<if test="sort == 'catalogContent' and (order == 'asc' or order == 'desc')">
			camac_busi_catalog.catalog_content ${order},
		</if>
		<if test="sort == 'createTime' and (order == 'asc' or order == 'desc')">
			camac_busi_catalog.create_time ${order}
		</if>
		</trim>
	</sql>
	
	<sql id="sql_page">
		<if test="page != null and rows != null" >
		limit #{rows} offset #{page}
		</if>
	</sql>
</mapper>