<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bjjoy.bms.setting.persist.mapper.SystemDao">
	
	<parameterMap id="pm_system" type="cn.bjjoy.bms.setting.persist.model.System">
		<parameter property="id" javaType="int" jdbcType="INTEGER" />
		<parameter property="system" javaType="String" jdbcType="VARCHAR" />
	</parameterMap>
	
	<resultMap id="rm_system" type="cn.bjjoy.bms.setting.persist.model.System">
		<result property="id" column="id" javaType="int" jdbcType="INTEGER" />
		<result property="system" column="system" javaType="String" jdbcType="VARCHAR" />
	</resultMap>

	<insert id="save" parameterMap="pm_system" useGeneratedKeys="true" keyProperty="id" >
		insert into system
		<trim prefix="(" suffix=")" suffixOverrides="," >	
			<if test="id != null">id,</if>
			<if test="system != null">system</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id != null">#{id},</if>
			<if test="system != null">#{system}</if>
		</trim>
	</insert>
		
	<delete id="deleteOne" parameterType="java.lang.String">
		DELETE FROM system WHERE system.id = #{id}
	</delete>
	
	<delete id="delete" parameterType="map">
		DELETE FROM system
		<where>
			<include refid="sql_where" />
		</where>
	</delete>

	<select id="queryOne" parameterType="java.lang.String" resultMap="rm_system">
		<include refid="sql_select"/>
		WHERE system.id = #{id}
	</select>
	
	<select id="queryList" parameterType="map" resultMap="rm_system">
		<include refid="sql_select" />
		<where>
			<include refid="sql_where" />
		</where>
		<include refid="sql_order" />
		<include refid="sql_page" />
	</select>
	
	<select id="queryListCount" parameterType="map" resultType="long">
		SELECT COUNT(0) FROM system
		<where>
			<include refid="sql_where" />
		</where>
	</select>
	
	<update id="updateOne" parameterType="map">
		UPDATE system
		<set>
		<if test="_parameter.containsKey('system')">
		<choose>
            <when test="system == null or system == ''">
			system = NULL
            </when>
            <otherwise>
			system = #{system}
            </otherwise>
        </choose>
		</if>
		</set>
		<where>
		id = #{id}
		</where>
	</update>

	<update id="update" parameterType="map">
		UPDATE system
		<set>
		<if test="_parameter.containsKey('systemAnw')">
		<choose>
            <when test="systemAnw == null or systemAnw == ''">
			system = NULL
            </when>
            <otherwise>
			system = #{systemAnw}
            </otherwise>  
        </choose>
		</if>
		</set>
		<where>
			<include refid="sql_where"/>
		</where>
	</update>
	
	<sql id="sql_select">
		<![CDATA[
		SELECT 
			system.id,
			system.system
		FROM system
		]]>
	</sql>

	<sql id="sql_where">
		<if test="id != null and id != ''">
		<![CDATA[AND system.id = #{id}]]>
		</if>
		<if test="id == null or id == ''">
		<if test="idAst != null and idAst != ''">
			<![CDATA[AND system.id >= #{idAst}]]>
		</if>
		<if test="idAed != null and idAed != ''">
			<![CDATA[AND system.id <= #{idAed}]]>
		</if>
		<if test="ids != null">
			AND system.id IN
			<foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="idAlk != null and idAlk != ''">
			<![CDATA[AND CAST(system.id AS CHAR) LIKE CONCAT('%',#{idAlk},'%')]]>
		</if>
		</if>
		<if test="system != null and system != ''">
			<![CDATA[AND system.system = #{system}]]>
		</if>
		<if test="system == null or system == ''">
			<if test="systemAlk != null and systemAlk != ''">
				<![CDATA[AND system.system LIKE CONCAT('%',#{systemAlk},'%')]]>
			</if>
			<if test="systems != null">
				AND system.system IN 
				<foreach collection="systems" index="index" item="item" open="(" separator="," close=")">   
					#{item}
				</foreach>
			</if>
		</if>
	</sql>
	
	<sql id="sql_order">
		<trim prefix="ORDER BY" suffixOverrides=",">
		<if test="sort == 'id' and (order == 'asc' or order == 'desc')">
			system.id ${order},
		</if>
		<if test="sort == 'system' and (order == 'asc' or order == 'desc')">
			system.system ${order}
		</if>
		</trim>
	</sql>
	
	<sql id="sql_page">
		<if test="page != null and rows != null" >
		limit #{rows} offset #{page}
		</if>
	</sql>
</mapper>